.title {
    width: 590px;
    padding: 20px;
    display: flex;
    align-items: center;
  }
  h1 {
    flex: 1;
    font-size: 24px;
    color: tomato;
  }
  h1 span {
    color: royalblue;
  }
  .animation-fill-mode {
    width: 590px;
    height: 200px;
    border-bottom: 1px solid tomato;
    position: relative;
    margin: 20px;
    padding: 10px;
  }
  .animation-fill-mode.both {
    border-bottom: none;
  }
  .point {
    width: 100px;
    height: 100px;
    border: 1px dashed tomato;
    border-radius: 10px;
    box-sizing: border-box;
    position: absolute;
    color: tomato;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .point.start {
    top: 80px;
    left: 150px;
  }
  .point.end {
    top: 80px;
    left: 500px;
  }
  .animation {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background: royalblue;
    position: absolute;
    animation: hello 3s 1s;
    opacity: .75;
    z-index: 1;
  }
  .forwards .animation {
    animation-fill-mode: forwards;
  }
  .backwards .animation {
    animation-fill-mode: backwards;
  }
  .both .animation {
    animation-fill-mode: both;
  }
  @keyframes hello {
    0% {
      background: tomato;
      top: 80px;
      left: 150px;
    }
    100% {
      top: 80px;
      left: 500px;
    }
  }
  .reset {
    background: tomato;
    margin-left: 20px;
    padding: 4px 10px;
    color: #FFF;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s;
  }
  .reset:hover {
    background: royalblue;
  }
  .reset:active {
    transform: scale(1.2);
  }