@mixin bg($width, $height, $bg-values...) {
    width: $width;
    height: $height;
    background: $bg-values;
}

div {
    @include bg(100px,
        200px,
        url("/images/a.png") no-repeat 10px 20px,
        url("/images/b.png") no-repeat,
        url("/images/c.png"));
}

