.box {
    width: 200px;
    height: 200px;
    background: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s
}

.box:hover {
    transform: translate(30px,30px) scale(0.5) skewX(45deg);
}